.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.park-card {
  position: relative;
  width: 400px;
  background-repeat: no-repeat;
  margin: 5%;
  padding: 1%;
  outline: #004700 solid;
  transition: 0.75s;
  opacity: 1;

}

.park-card:hover {
  transform: scale(1.05);
}

.d-flex {
  width: 300px;
}

.park-page{
  display: flex;
  flex-direction: row;
}

.park-div{
  position: relative;
  text-align: center;
  margin: 5%;
  margin-left: 20%;
  width: 60%;
}

